body
{
    background-color: black;
    perspective: 50%;
    transform-style: preserve-3d;

}
.slider
{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 1s ease-out;
    transform: perspective(300px);
}
div
{
    -webkit-transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    position: relative;
}

label[for='first'] > img,
label[for='second'] > img,
label[for='third'] > img
{
    height: 175px;
    -webkit-transform: translateZ(-10px) rotateY(10deg);
    transform: translateZ(-10px) rotateY(10deg);
}
label[for='fourth'] > img
{
    height: 175px;
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
}

label[for='fifth'] > img,
label[for='sixth'] > img,
label[for='seventh'] > img
{
    height: 175px;
    -webkit-transform: translateZ(-10px) rotateY(-10deg);
    transform: translateZ(-10px) rotateY(-10deg);
}
